.env
myenv/\
_pycache_
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
myenv/
## Ignore LangGraph chatbot state DB and checkpoint files
langgraphchatbot/*.db
langgraphchatbot/*.db-shm
langgraphchatbot/*.db-wal
langgraphchatbot/*-checkpoint*.bin

# IDE / OS
.vscode/
Thumbs.db
desktop.ini

